<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	                    http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	                    http://www.springframework.org/schema/tx 
	                    http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
	                    http://www.springframework.org/schema/aop
	                    http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
	                    ">
	
	<bean id="userDao" class="com.oa.admin.dao.TUserDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

    <bean id="roleDao" class="com.oa.admin.dao.TRoleDAO">
    	<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
    </bean>
    
    <bean id="permissionDao" class="com.oa.admin.dao.TPermissionDAO">
    	<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
    </bean>
    
	<bean id="userBiz" class="com.oa.admin.biz.impl.UserBiz">
		  <property name="userDao">
		  	<ref  bean="userDao"/>
		  </property>
		  <property name="roleDao">
		  	<ref  bean="roleDao"/>
		  </property>
		   <property name="permissionDao">
		  	<ref  bean="permissionDao"/>
		  </property>
	</bean>

	<bean id="roleBiz" class="com.oa.admin.biz.impl.RoleBiz">
	     <property name="roleDao">
		  	<ref  bean="roleDao"/>
		  </property>
	</bean>
	
	<bean id="userAction"  class="com.oa.admin.action.UserAction" scope="prototype">
		  <property name="userBiz">
		  	<ref  bean="userBiz"/>
		  </property>
	</bean>
	
	<bean id="roleAction" class="com.oa.admin.action.RoleAction" scope="prototype">
	      <property name="roleBiz">
		  	<ref  bean="roleBiz"/>
		  </property>
	</bean>
</beans>